.logo {
    height: 100px;
    width: 100px;
}
footer .logo img {
    height: 80px;
    width: auto;
    margin-top: 10px;
  }
  footer .social-media a {
    display: flex;
    align-items: center;
  }
  .social-media {
    display: flex;
  }
  .footer-image {
    height: 32px;
    width: auto;
    margin-right: 8px;
  }
  footer > section {
    display: flex;
    justify-content: space-between;
  }
  
  footer {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
  }
  .clearfix {
      padding: 20px;
  }
  .text-center {
    margin-top: 20px;
    color: white;
  }
  .playano-features {
    display: flex;
  }

  .video {
    padding: 50px;
    display:flex;
    
  }
  video img {
    width: 100%;
    height: 100%;
    object-fit: cover
  }
  .app-store {
    display:flex;
    align-items: center;
  }
  @media (min-width: 576px) {
    .card-deck .card {
      flex: 50%;
      -ms-flex: 50%;
    } 
  }

  @media (min-width: 768px) {
    .card-deck .card {
      flex: 1 0 0%;
      -ms-flex: 1 0 0%;
    } 
  }